@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Merriweather:ital,wght@1,300&family=Nunito:wght@500&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root{
  --font-family: 'Manrope';


  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar:linear-gradient(103.22deg,#AE67FA -13.86%,#FF8A71 99.55%);

  --color-bg:#040C18;
  --color-footer:#031B34;
  --color-blog:#81AFDD;
  --color-subtext:#FF8A71;

}